@page
@model Website.Pages.Jobs.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TbJob</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TbJob.ComputerName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TbJob.ComputerName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TbJob.StartDateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TbJob.StartDateTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TbJob.EndDateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TbJob.EndDateTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TbJob.StartAfterDateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TbJob.StartAfterDateTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TbJob.ProcessId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TbJob.ProcessId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TbJob.AggregationStartDateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TbJob.AggregationStartDateTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TbJob.AggregationEndDateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TbJob.AggregationEndDateTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TbJob.CreatedDateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TbJob.CreatedDateTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TbJob.ParentJobId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TbJob.ParentJobId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TbJob.Processed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TbJob.Processed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TbJob.IsRecovery)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TbJob.IsRecovery)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TbJob.CreatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TbJob.CreatedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TbJob.ExitCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TbJob.ExitCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TbJob.IntervalNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TbJob.IntervalNavigation.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TbJob.JobTypeNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TbJob.JobTypeNavigation.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TbJob.PriorityNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TbJob.PriorityNavigation.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TbJob.StatusNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TbJob.StatusNavigation.Id)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="TbJob.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
